
.userWrapper {
    
    padding: 5px 7px 5px 7px;
    
    
}
.user {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    
}

.img {
    height: 90px;
    width: 90px;
    border-radius: 5px;
}

.page {
    margin: 5px 5px;
    display: inline-block;
    height: 25px;
    width: 30px;
    background-color: #eee;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.selectedPage {
    color: red;
    cursor: pointer;
}

.loader {
    height: 190px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}